﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;

}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.hpr {
    text-align : center;
    top : 50vh;
    position : relative;
    /*display : block;*/
    transform : translateY(-155%);
}
.labelOutput {
    font-size: 25px;
    text-align: center;
    position: relative;
    color: rgba(31,16,241, 0.8);
}
.ptab {
    
    font-size : 30px;
    
}
.inputError {
    border: 3px solid red;
    box-shadow: 1px 1px 25px red;
}

#error__message {
    display: none;
    color: red;
    text-align: center;
    font-family: sans-serif;
    font-size: 13px;
}

form {
    margin-right: auto;
    margin-left: auto;

}

.container h2, h1 {
    color: #0c3ece;
    text-align: center;
    font-size: 100%;
}
.h1 {
    font-size: 28px;
}

.container {
    margin-left: auto;
    z-index: 10;
    margin-right: auto;
    width: 80vw;
    margin-top: 0vh;
    padding: 0vw;
    background-color: rgba(241, 231, 231, 0.4);
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}

.container input {
    text-align: center;
    background-color: rgba(31,16,241, 0.8);
    margin-top: 15px;
    border: 3px solid #92917f;
    font-size: 20px;
    height: 40px;
    width: 100%;
    border-style: none;
    border-radius: 18px;
}

    .container button {
        text-align: center;
        margin: 15px 0 15px 0;
        background-color: #235f71;
        border: 3px solid #92917f;
        font-size: 20px;
        height: 40px;
        width: 100%;
        border-style: none;
        border-radius: 18px;
        background-color: #235f71;
        border: 3px solid rgba(219, 213, 213, 0.75);
        color: white;
        transition: all ease .3s;
    }

        .container button:hover {
            background-color: #38add0;
        }
input:hover {
    border: 1px solid #4bb6fe;
}

input:focus {
    box-shadow: 1px 1px 14px #6cf5f5;
    border: 2px solid #24cbd5;
}



.letter {
    color: #ffffff; /* Цвет символа */
    font-size: 200%; /* Размер шрифта */
}

