﻿
<label class="labelOutput">Площадь S =  @ViewBag.Data.SquareS,м2 </label>
<br />
<label class="labelOutput">Расход газа Vr = @ViewBag.Data.GasConsuption,м3/с </label>
<br />
<label class="labelOutput">Отношение теплоемкостей потоков m = @ViewBag.Data.HeatRatio</label>
<br />
<label class="labelOutput">Полная относительная высота Yo = @ViewBag.Data.FullHight, м</label>
<br />
<label class="labelOutput">Расчётная еденица = @ViewBag.Data.HardExpression</label>
<br />

<p class="h1"> Таблица решения</p>


<table border="1" cellpadding="5" cellspacing="1">



    @for (int b = 0; b < ViewBag.Data.Resulttable.Length; b++)
    {

    <tr>
        @if (b < 0.5)
        {
            <th rowspan="8"> <img src="~/lib/tabl.png" alt="альтернативный текст">  </th>
        }

        @for (int z = 0; z < ViewBag.Data.line1.Count; z++)
        {

            <td>
                @ViewBag.Data.Resulttable[b][z];
            </td>
        }
    </tr>

    }
</table>