﻿<script type="text/javascript">
< !<--

            function validate_form() {
                valid = false;

                if (document.resform.layerHeight.value <= 0 || document.resform.gasVelocity.value <= 0 || document.resform.averageWarm.value <= 0 || document.resform.materialConsumption.value <= 0 || document.resform.averageMaterialEating.value <= 0 || document.resform.WarmReturn.value <= 0 || document.resform.agregateDiametr.value <= 0) {
                    alert("Пожалуйста заполните поля верно.");
                    valid = false;
                }
                else {
                    valid = true;
                }
                return valid;
            }

        -->
</script>

<div class="text-center">
    <h1 class="h1">Расчет теплообмена в противоточном движении кусковых материалов и газов в плотном продуваемом слое</h1>
    <p class="h1">Исходные данные</p>
</div>

    <div id="error__message">(введите ЧИСЛО больше нуля)</div>
    <form name="resform" form action="/Home/Calc" method="post" class="text-center" onsubmit="return validate_form ( );">


        <input type="text" id="T_layerHeight" class="letter" name="layerHeight" value="5">
            <p>Высота слоя H</p>

            <input type="text" class="letter" name="TemperatyreMaterial" value="10" />
            <p>Начальная температура материала t'</p>

            <input type="text" class="letter" name="TemperatyreGas" value="650" />
            <p>Начальная температура газа T"</p>

            <input type="text" class="letter" name="gasVelocity" value="0,74" />
            <p>Скорость газа на свободное сечение шахты wr</p>

            <input type="text" class="letter" name="averageWarm" value="1,35" />
            <p>Средняя теплоемкость газа Cr</p>

            <input type="text" class="letter" name="materialConsumption" value="1,68" />
            <p>Расход материалов Gm</p>

            <input type="text" class="letter" name="averageMaterialEating" value="1,49" />
            <p>Теплоемкость материалов Cm</p>

            <input type="text" class="letter" name="WarmReturn" value="2460" />
            <p>Объемный коэффициент теплоотдачи αV</p>

            <input type="text" class="letter" name="agregateDiametr" value="2,2" />
            <p>Диаметр аппарата D</p>

            <input type="submit" class="letter" name="name" value="Рассчитать" />
</form>
        <script src="~/jquery-3.4.1.min.js"></script>
<script src="~/indexjs.js"></script>

